
@{
    ViewBag.Title = "Start";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    div.jumbotron {
     background-color:aquamarine;
    }
    div.jumbotron.btn,
    div.btn{
        
        background-color:aliceblue;
    }
</style>
<div class="jumbotron" >
    <h1>新明汽车公司</h1>
    <p><img src="~/images/3.jpg" alt="MG" class="img-responsive"/></p>
    <p><a class="btn" href="#">更多&raquo;</a></p>
</div>
<div class="row">
    <div class="col-lg-6">
        <h2>公司专题</h2>
        <p>2019年，为了做一个毕业设计，而无中生有的一个汽车销售公司</p>
        <p><a class="btn " role="button" href="#">了解更多&raquo;</a></p>
       
    </div>
    <div class="col-lg-6">
        <h2>个人介绍</h2>
        <p>彭泽宇，学号：1510700216，班级：15104221</p>
    </div>
</div>



